name: Prow Slash Commands

on:
  issue_comment:
    types:
      - created

permissions:
  issues: write
  pull-requests: write

jobs:
  handle:
    runs-on: ubuntu-latest
    steps:
      - name: Run prow-github-actions
        uses: jpmcb/prow-github-actions@v2.0.0
        with:
          prow-commands: |
            /assign
            /unassign
            /approve
            /retitle
            /area
            /kind
            /priority
            /remove
            /lgtm
            /close
            /reopen
            /lock
            /milestone
            /hold
            /cc
            /uncc
          github-token: ${{ secrets.GITHUB_TOKEN }}
