name: Prow Slash Commands

on:
  issue_comment:
    types:
      - created

permissions:
  issues: write
  pull-requests: write

jobs:
  handle:
    if: |
      github.event.issue.pull_request
      && startsWith(github.event.comment.body, '/')
    runs-on: ubuntu-latest
    steps:
      - name: Run prow-github-actions
        uses: jpmcb/prow-github-actions@v2
        with:
          prow-commands: |
            /assign
            /unassign
            /approve
            /retitle
            /area
            /kind
            /priority
            /remove
            /lgtm
            /close
            /reopen
            /lock
            /milestone
            /hold
            /cc
            /uncc
